<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.CutlerDevelopment.murraycup">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.FixtureAdminMenu"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fixture_admin_menu"
            android:parentActivityName=".Activities.AdminMenu"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.CutlerDevelopment.murraycup.Activities.AdminMenu" />
        </activity>
        <activity
            android:name=".Activities.GroupAdminMenu"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_group_admin_menu"
            android:parentActivityName=".Activities.AdminMenu"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.CutlerDevelopment.murraycup.Activities.AdminMenu" />
        </activity>
        <activity
            android:name=".Activities.TeamAdminMenu"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_team_admin_menu"
            android:parentActivityName=".Activities.AdminMenu"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.CutlerDevelopment.murraycup.Activities.AdminMenu" />
        </activity>
        <activity
            android:name=".Activities.AdminMenu"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_admin_menu"
            android:parentActivityName=".Activities.MainMenu"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.CutlerDevelopment.murraycup.Activities.MainMenu" />
        </activity>
        <activity
            android:name=".Activities.MainMenu"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_main_menu"
            android:parentActivityName=".Activities.LoadingScreen"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.CutlerDevelopment.murraycup.Activities.LoadingScreen" />
        </activity>
        <activity
            android:name=".Activities.PickATeamMenu"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_pick_ateam_menu"
            android:parentActivityName=".Activities.LoadingScreen"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.CutlerDevelopment.murraycup.Activities.LoadingScreen" />
        </activity>
        <activity
            android:name=".Activities.LoadingScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>